.color-yellow{
    color: #fbd600; 
}

.scrollbar-brand-color {
    overflow: auto;
    height: 333px;
}

.mb-90 {
    margin-bottom: 90px;
}

.test-checkbox {
    width: 13px;
    height: 13px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer;     
}

.dis-button{
    color: #af0606, 0.3;
    background: #0e0ec3;
    cursor: not-allowed;
}
